#
# ~/.config/.gitignore
#

# Ignore linux specific files
dconf
keepassxc

# Ignore general files
BraveSoftware
pavucontrol.ini
nvim
spotify

# Ignore secrets
github-copilot


# zsh garbage
zsh/.zsh_history

# Unsorted ignores
pavucontrol.ini
pulse
bottom
git/.git-credentials
nushell
supertuxkart
!supertuxkark/config-0.10/highscore.xml
lutris
fish/fish_variables
retroarch
zsh/zsh-syntax-highlighting

weechat
