# ~/.config/.gitignore

# Secrets
github-copilot
git/.git-credentials
gcloud

# home managaed
# environment.d
# fontconfig

# shell
zsh/.antidote/
zsh/plugins.zsh
zsh/.zcompdump

# Unsorted ignores
libreoffice
blender
obs-studio
obsidian
discord
pavucontrol.ini
pulse
dolphin-emu
deluge
rofi/images
dconf
mpd/playlists
ncmpcpp
qastools
cava
com.modrinth.theseus
cef_user_data
mozc
ibus
gsconnect

anthy
evince
evolution
zoom.conf
zoomus.conf
VSCodium
