#
# ~/.config/.gitignore
#

# Ignore macOS specific files
configstore/
sketchybar/
skhd/
wireshark/
yabai/
discord/


# Ignore linux specific files
cef_user_data/
pulse/
user-dirs.*
dconf/
htop/
QtProject.conf
keepassxc


# Ignore general files
BraveSoftware
spotify
cleanstore
btop
mimeapps.list
pavucontrol.ini
gtk-3.0
btop
nvim


# Ignore secrets
github-copilot


# zsh garbage
zsh/.zcompdump-Evan’s MacBook-5.8.1
zsh/.zsh_history
zsh/.zcompdump-steamfunk-5.9
zsh/.zcompdump-steamfunk-5.9.zwc
