/*
 * Change the colorscheme for every menu simply by editing this file...
 *
 * Available Color Schemes
 * // Dark
 * amber			blue		blue_grey		brown		cyan			deep_orange
 * deep_purple	green		grey			indigo	light_blue	light_green
 * lime			orange	pink			purple	red			teal
 * yellow
 *
 * adapta-nokto, gruvbox, dark, armchair, darkpink, inside
 */

@import "../styles/darkpink.rasi"

